* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.allpagemargin {
    margin-left: 13%;
    margin-right:14.4%;
    background-color: #E6E2EB;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
}



header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;    
}



.myname h4 {  
    font-weight:400;
    padding-left: 16.4%;
    padding-top: 13%;
    font-size: 32px;
 
}

.myname h5 {
    color: #007BFF;
    padding-top: -4%;
    padding-left: 16.4%;

}



.introduction p {
    color: black;
    float: left;       
    font-size: 16px;
    line-height: 28px;
    padding-left: 16%;
    font-style: italic;
}
.myimage img { 
    border-radius: 50%;
    border: 6px solid #007BFF;      
    vertical-align: center;
    align-items: center; 
    margin-left: 24.7%;
    margin-top: 12%;
}


.socialmedia ul {
    padding-left: 4%;
    padding-top: 9%;
}

.socialmedia li {
    line-height: 45px;
}
.socialmedia li a{
    text-decoration: none;
    color:black;
    list-style: none;    
}

.fa-envelope,.fa-location-arrow, .fa-github, .fa-linkedin, .fa-twitter, .fa-mobile, .fa-file-text {
   padding-left: 1.5%;
}

.fa-mobile {
    padding-left: 3%;
    font-size: 22px;

}

/*button alignment */


.leftrightmargin {
    display: inline-block;
    margin-left: 4%;
    margin-top: 2%;
}

.leftrightmargin h4 {
    margin-top: 2%;
    font-weight: bolder;
} 

.skillbutton {
    background-color: #0080ff;
    padding: 8px 12px;
    border: none;
    margin:6px;
    color: white;
    padding: 7px;
    border-radius: 6px;
}



.seniorsoftwareen {
    margin-top: -0.60%;
}


.datemargin {
    margin-top: -0.90%;
}

.datemargin p {
    color: #007BFF;
}

.datemargin span {
    color: #99979C;
}

.achievements {
    margin-top: -2.7%;
}

.responach {
    color: #007BFF;

}

ul {
    list-style: none;
  }
  
  ul li::before {
    content: "\2022";
    color: #007BFF;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: 0em;
  }

  .honorlink {
    color: #99979C;
    line-height: 6px;
    font-style: italic;
  }

  .boltcolor {
      color: #007BFF;
      line-height: 24px;
      margin-top: -4px;
  }

  .boltcolorpar {
      color: #212529;
  }

  .linkhttps {
      margin-top: -16px;
      line-height: 16px;
  }

  .marginbottom {
      margin-bottom: 30%;
  }

  .intbolet  {
    font-size:55px;
    font-weight: 800;
    color:#007BFF;

  }

 


  @media (min-width: 1281px) {
  
    /* CSS */

  
    
      

  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */


  @media (min-width: 1025px) and (max-width: 1280px) {
  
    /* CSS */

  
     
    
  }

  /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/


@media (min-width: 768px) and (max-width: 1024px) {
  
    /* CSS */
   
             
    
  } 
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 481px) and (max-width: 767px) {
  
    /* CSS */

  
    
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

  
@media (min-width: 320px) and (max-width: 480px) {
  
    /* CSS */


     
      .socialmedia ul {
        padding-left: 5%;
        padding-top: 9%;
        line-height: 20px;
    }

    .socialmedia li {
        line-height: 22px;
    }

    ul li::before {
        content: "\2022";
        color: transparent;
        font-weight: bold;
        display: inline-block;
        width: 0em;
        margin-left: 0em;
    }    

.myimage img {
    border-radius: 50%;
    border: 6px solid rgb(0, 123, 255);
    align-items: center;
    margin-left: 13.7%;
    margin-top: 12%;
}

    
  }

