* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;  
    box-sizing: border-box;
    cursor: default;


}

.nav-bg {
    border-bottom: 1px solid #d1d1d1;
}

header {
    display: block;
}

ul {
    margin-top: 0;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navigaion {
    z-index: 9999;
    transition: .3s ease;
    background: #fff;
}

.navbar-brand {
  display:inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right:1.25rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;

}

.navigation {
   z-index: 9999;
   transition: .3s ease;
   background: #fff;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;


}

.navbar::after, ::before {
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    font-family: 'Quicksand', sans-serif;
font-size: 15px;
color: #333;
font-weight: 400;
line-height: 1.4;
}

.margintop {
    margin-top: 1.9%;
}

div>ul>li>a {
    font-size: 18px;
    color:#334B62;
    text-transform: capitalize;
    cursor: pointer;
    transition: .2s ease;
    text-decoration: none;
    text-align: center !important;
    align-items: center;
    justify-content: space-around;
    word-spacing: 25px;
}

.nav-link {
    display: block;

}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    list-style: none;
}

.fa-shopping-cart {
    
    border: 0;
    position: relative;  
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
   box-sizing: border-box; 
   font-size: 22px;
   background-color: white;
   background: transparent;
   rotate: 360deg;
   
}

button {
    cursor: pointer;
    transition: .2s ease;
    margin:0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: transparent;
    background: transparent;
    border: none;
}

.badge-primary {
    height: 18px;
    width: 18px;
    background-color: #5ab51e;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    top:22px;
    position: absolute;
    right: -3px;
    padding: -.25em .4em;
    font-size: 72%;
    text-align: center;

}

.section-sm {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-sm h1{
    font-size: 48px;
    color: #222;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    box-sizing: border-box;
    text-align: left;
}

.section-sm p {
    font-weight: 400;
    color:#333;
    font-size: 15px;
    line-height: 1.7;
     margin-bottom: 0;
    margin-top: 0;
    box-sizing: border-box;
    text-align: left;
}

.btn {
    text-align: center;
    user-select: none;
    line-height: 1.5;
    white-space: nowrap;
    font-size:14px;
    font-family: 'quicksand',sans-serif;
    text-transform: capitalize;
    padding: 13px 40px;
    font-weight: 500;
    border: 1px solid;
    position: relative;
    z-index: 1;
    margin:0;
}

.btn-outline-primary {
    background: 0 0;
    color:#333;
    border-color: #5ab51e;
    transition: none;

}


.btn-outline-primary:hover {
    background-color: #6BBE26;
    color: #FFFFFF;
}

.btn-block {
    display: block;
    width:100%;
}

.btn-primary {
    background-color: #71dc2a;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(27deg,#59b51e 0%,#95d239 100%)!important;
    outline: 0;
    font-size: 14px;
    font-family: 'quicksand',sans-serif;
    text-transform: capitalize;
    padding: 13px 40px;
    border-radius: 35px;
    font-weight: 400;
    border: 1px solid;
    position: relative;
    z-index: 1;
    transition: .2s ease;
    margin-right: 1rem !important;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
    white-space: nowrap;
    box-sizing: border-box;
    margin-top: 2%;
}

.btn:hover {

    box-shadow: 0 8px 10px rgba(33,33,33,.2)!important;
    border-color: transparent;

}
.btn-primary:hover {
    color: #fff;   
}



.overlay-image {
    position: absolute;
    left:0;
    right: 0;
    top:0;
    height: 100%;
    width: 100%;
    border-style: none;
    box-sizing: border-box;
    text-align: left;
 
}


.section2 h2 {
    font-size: 42px;
    font-family: 'quicksand',sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    box-sizing: border-box;
    text-align: left;
}

.textedit h2 {
    font-size: 42px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    box-sizing: border-box;
    text-align: left;
    color: #222;
    font-weight: 400;


}

section {
    display: block;
    box-sizing: border-box;
}

.textedit p {
    font-weight: 400;
    color: #333;
    font-size: 15px;
    line-height: 1.7;
    font-family: 'Quicksand', sans-serif;

}

.section {
    margin-top: 11.7%;
}

.col-lg-8 {
    flex:0 0 66.666667%;
    max-width;:0 0 66.666667%;
  
}

::selection {
    background: #71dc2a;
    color:#fff;

}

.bg-gradient {
    background: linear-gradient(27deg,#59b51e 0%, #95d239 100%) !important;
}

.py-4 {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}

.position-relative {
    position: relative !important;
    
}

section {
    display: block;
    box-sizing: border-box;
}


.col-md-7  {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 2%;
}

.col-md-7 h2 {
    font-size: 42px;
    color:#fff;
    font-family: 'quicksand',sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    box-sizing: border-box;
    text-align: left;

    
}

.col-md-7 p {
font-weight: 400;
color:#fff;
font-size: 15px;
line-height: 1.7;
margin-bottom: 1rem;
margin-top:0;
box-sizing: border-box;
text-align: left;
font-family: 'quicksand',sans-serif;


}

.col-md-5,.col-md-4 {
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
box-sizing: border-box;
line-height: 1.4;
font-family: 'quicksand',sans-serif;
font-size: 15px;
color: #333;
flex: 0 0 33.333333%;
max-width: 33.333333%;
}

.btn-light {
    font-size: 14px;
    font-family: 'quicksand',sans-serif;
    text-transform: capitalize;
    padding:13px 45px;
    border-radius: 35px;
    font-weight: 500;
   border: none;
    position: relative;
    z-index: 1;
    transition: .2s ease;
    background-color: #fff;   
    border: 2px solid #fff;
    display: inline-block;
    user-select: none;
    line-height: 1.5;  
    margin-bottom: 3%;
    

  
}


.btn-light:hover {
    outline: 0;
    box-shadow: 0 8px 10px rgba(33,33,33,.2) !important;
    background-color: #FFFFFF;
}

.cta-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-style: none;
    box-sizing: border-box;
    cursor: default;
    color: #333;
    font-weight: 400;
    text-align: left;
}

.pay-4 {
    margin-top: 8%;
}

.section5 {
    padding-top: 100px;
    display: block;
    box-sizing: border-box;
    line-height: 1.4;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.container125 {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;

}

.row125 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}

.col-lg-6 {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    flex:0 0 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.col-lg-6 h2 {
    color: #222;
    font-family: 'quicksand',sans-serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    box-sizing: border-box;
    text-align: center !important;

}

.col-lg-3 {
    flex:0 0 25%;
    max-width: 25%;
    max-width: 25%;
    position: relative;
    width: 100%; 
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    text-align: left;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem -1px);
    border-top-right-radius: calc(.25rem -1px);
    line-height: 1.4;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
}

.card-body h4 {
    color: #222;
    font-family: 'quicksand',sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    box-sizing: border-box;
    text-align: center;
    word-wrap: break-word;

}

.card-body p {
    font-weight: 400;
    color: #333;
    font-weight: 15px;
    line-height: 1.7;
    font-family: 'quicksand',sans-serif;
    margin-bottom: 1rem;
    margin-top: border-box;
    box-sizing: border-box;
    text-align: center;
    word-wrap: break-word;

}

.pb-0 {
    padding-top: 100px;
    padding-bottom: 0 !important;
    display: block;
    box-sizing: border-box;
    line-height: 1.4;
    text-align: left;
}

.align-items-center {
    align-items: center !important;

}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;

}

.col-md-6 h2{
    font-size: 42px;
    color:#222;
    font-family: 'quicksand',sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    box-sizing: border-box;
    text-align: left;


}

.mb-4 {
    margin-bottom: 1.5rem !important;
    font-weight: 400;
    color:#333;
    font-weight: 15px;
    line-height: 1.7;
    font-family: 'quicksand',sans-serif;
    margin-top: 0;
    box-sizing: border-box;
    


}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-bottom: 1rem;
    margin-top:0;
    box-sizing: border-box;

}

.mb-3 {
    margin-bottom: 1rem !important;
    box-sizing: border-box;
    list-style: none;
    
}

.text-primary {
    margin-bottom: 1rem !important;
    box-sizing: border-box;
    list-style: none;
    line-height: 1.4;
    font-family: 'quicksand',sans-serif;
    font-size: 15px;
    color: #333;
    font-weight: 400;
    text-align: left;
    list-style: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;


}

.mr-2 {
    margin-right: .5rem !important;
}

ul {
    list-style: none;
}

.col-md-6 {
    flex:0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    line-height: 1.4;
    
}

.section991 {
    padding-top:100px;
    display: block;
}

.justify-content-between {
    align-items: center !important;
    justify-content: space-between !important;
    margin-top: 5%;


}

.col-lg-5 {
    flex:0 0 41.666667%;
    max-width: 41.66667%;
    position: relative;
    width:100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.img-border::before {
position: absolute;
content: "";
height: 100%;
width: 100%;
border: 1px solid #5ab51e;
top: 5%;
left: 5%;
border-radius: inherit;
z-index: -1;

}

.img-border {
    position: relative;
    display: inline-block;
}

.rounded {
    border-radius: .25rem !important;
}

.mb-md-0 {
    margin-bottom: 0 !important;
}

..col-md-6 p {
    font-weight: 400;
    color:#333;
    font-size: 15px;
    line-height: 1.7;
    font-family: 'quicksand',sans-serif;
    margin-bottom: 1rem;
    margin-top: 0;
    box-sizing: border-box;
    text-align: left;
    
}


.section6325 {
    padding-top: 100px;
    display:block;   


}

.pb-0 {
    padding-bottom: 0 !important;
}

.col-12 {
flex:0 0 100%;
max-width: 100%;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
box-sizing: border-box;
}

.text-center {
    text-align: center !important;
}

.mb-4 h2 {
    font-size: 42px;
    color: #222;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top:0;
    box-sizing: border-box;
    text-align: center !important;
    font-family: 'quicksand',sans-serif;
}

.col-lg-4 {
    position: relative;
    width:100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left:15px;
    flex:0 0 33.333333%;
    max-width: 33.333333%;
}

.col-sm-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    position: relative;
    display:flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-sizing: border-box;
    border-radius: .25rem;


}

.border-0 {
    border: 0 !important;
    

}

.card-body {
    flex:1 1 auto;
    padding:1.25rem;
    box-sizing: border-box;

}

.h4  {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    cursor: pointer;
    transition: .2s ease;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
    word-wrap: break-word;
    font-size: 20px;

}


.text-primary  {
color: #5ab51e !important;
}

.discoutrate {
text-align: center !important;
word-wrap: break-word;
line-height: 1.4;
color: #3D3933;
font-family: 'quicksand,sans-serif';
font-size:15px;
text-align: center;
font-weight: 400;

}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
    box-sizing: border-box;
    text-align: center !important;
    word-wrap: break-word;


}

.cartbutton {
    background: 0 0;
    color:#333;
    border-color:#5ab51e;
    transition: none;
    padding:10px 30px;
    font-size: 14px;
    font-family: 'quicksand,sans-serif';
    text-transform: capitalize;
    border-radius: 35px;
    font-weight: 500;
    border:1px solid #5ab51e;
    position: relative;
    z-index: 1;
    line-height: 1.5;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select:none;
    white-space: nowrap;
    

}

.cartbutton:hover {
    outline:0;
    box-shadow: 0 8px 10px rgba(33,33,33,.2) !important;
    background: linear-gradient(27deg,#59b51e 0%,#95d239 100%) !important;
    border-color: #5ab51e !important;
    color: #fff;
}

.border-primary {
    border-color: #5ab51e !important;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;


}

.card-body {
    flex:auto;
    padding:1.25rem;
    word-wrap: break-word;
    
}
.client-img {
    height: 100px;
    width:100px;
    border-radius: 50%;
    border:1px solid #5ab51e;
    margin: -70px auto 20px;
    box-sizing: border-box;
}

.feedbackheading {
    margin-bottom: 8%;
    font-size: 42px;
    color:#222;
    font-weight: 400;
    line-height: 1.2;
    font-family: 'quicksand',sans-serif;
    margin-top:0;
    box-sizing: border-box;
 


}

.quoted {
    font-weight: 400;
    color:#333;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 1rem;
    margin-top: 0;
    box-sizing: border-box;
}

small {
    font-size: 80%;
    font-weight: 400;
}


.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.col-12 {
    flex:0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.section589674-sm {
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-md-3 {
    flex:0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left:15px;
    box-sizing: border-box;
}

.col-sm-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left:15px;
    box-sizing: border-box;
}

.font-weight-medium {
    font-weight: 500 !important;    
    
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.text-color {
    color: #333;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.fa-phone, .fa-envelope, .fa-map, .fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram, .fa-pinterest {
    color: #5ab51e !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-right: .5rem !important;

}

.list-inline {
    padding-left: 0;
    list-style: none;
    box-sizing: border-box;
    line-height: 1.4;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
    box-sizing: border-box;
}

.form-control {
    height: 50px;
    border: 1px solid #5ab51e;
    display: block;
    width: 100%;
    padding:.375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border-radius: .25rem;
    background-clip: padding-box;
    

}

input {
    margin:0;
    font-family: inherit;
    overflow: hidden;
    box-sizing: border-box;
}

.mb-2 {
    margin-bottom: .5rem !important;
}

textarea .form-control {
    height: 100px;
    resize: vertical;
    margin:0;
    font-family: inherit;
    overflow: auto;
    font-weight: 400;
} 
